.dev_bg {
	height: 100vh;
	width: 100vw;
	background-image: url("https://images5.alphacoders.com/849/thumb-1920-849437.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}